  <%- include('header')%>
  <!-- =============================================== -->
  <%- include('aside')%>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Car Showroom For Manager
      </h1>

    <!-- Main content -->
    <section class="content">

      <div class="box">
        <div class="box-body">
          <table class="table">
            <thead>
              <tr>
                <th>BEST</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <%for(let p of result) {%>
                <tr>
                  <td scope="row">
                    <%=p.name%>
                  </td>
                  <td>
                    <%=p.total %>
                  </td>
                <%}%>
            </tbody>
          </table>
          <br>
          <div>
            <h2>KHO</h2>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>Hãng Xe</th>
                <th>Model</th>
                <th>Số Lượng</th>
              </tr>
            </thead>
            <tbody>
              <%for(let p of results) {%>
                <tr>
                  <td scope="row">
                    <%=p.brand_name%>
                  </td>
                  <td>
                    <%=p.car_model%>
                  </td>
                  <td>
                    <%=p.remaining_cars%>
                  </td>
                <%}%>
            </tbody>
          </table>
        </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('footer')%>